.searchbox-form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 1rem;
}

.searchbox-form input[type="text"] {
	padding: 0.5rem;
	width: 15rem;
	height: 2rem;
	font-size: 1.5rem;
	font-family: "Neon", sans-serif;
	border: 1px dashed black;
	border-right: none;
	border-radius: 0.5rem 0 0 0.5rem;
	outline: none;
	box-shadow: 0.25rem 0.25rem 0.5rem lightgray;
	cursor: text;
}

.searchbox-form input[type="submit"] {
	width: 5rem;
	height: 2rem;
	font-size: 1rem;
	font-family: "Neon", sans-serif;
	border: 1px dashed black;
	border-left: none;
	border-radius: 0 0.5rem 0.5rem 0;
	outline: none;
	box-shadow: 0.25rem 0.25rem 0.5rem lightgray;
	cursor: pointer;
}
.searchbox-form input[type="submit"]:hover {
	filter: brightness(0.9);
}
