@font-face {
	font-family: "Neon";
	src: url("./assets/fonts/TiltNeon-Regular-VariableFont.ttf");
}

:root {
	--bg-light-red: rgb(255, 227, 222);
	--bg-light-yellow: rgb(255, 253, 189);
	--bg-light-green: rgb(206, 255, 163);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

body {
	font-family: "Neon";
	background: linear-gradient(0deg, var(--bg-light-red) 0%, var(--bg-light-yellow) 80%, var(--bg-light-green) 100%);
}
